#details-panel {
  background-color: rgba(13, 12, 14, 0.9);
  color: white;
  height: 100%;
  overflow-y: auto;
  border-left: 1px solid #29262B;

  display: grid;
  grid-template-rows: auto 1fr;
}

.details-header {
  display: grid;
  padding: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #29262B;


  grid-template-columns: 80px 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  grid-template-areas:
    "icon name"
    "description description";
  align-items: center;
}

.details-header .group-icon {
  grid-area: icon;
  width: 100%;
}

.details-header .group-name {
  grid-area: name;
  font-size: 60px;
  font-weight: 600;
  color: var(--color-primary);
}

.details-header .group-description {
  grid-area: description;
  align-self: start;
}

.details-group-items {
  padding: 20px;
}

.details-item {
  padding: 20px;
  padding-top: 40px;
}

.details-item .name {
  font-size: 45px;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.details-item .description {
  margin-bottom: 20px;
}

/* .details-item .image:empty {
  display: none;
} */

.details-item .image {
  width: 90%;
  height: auto;
  padding: 0 5%;
}