#map-container {
  overflow: hidden;
}

#map .group.hidden {
  display: none;
}

#map .group {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#map .pin {
  pointer-events: all;
  transition: opacity 50ms ease-in-out;
}

#map:has(.group.focus) .group:not(.focus):not(.highlight) .pin {
  pointer-events: none;
  opacity: 0;
}

#map:has(.group.highlight) .group:not(.highlight):not(.focus),
#map:has(.group.focus) .group:not(.focus).highlight {
  opacity: 0.5;
}

#map:has(.pin.highlight) .pin:not(.highlight):not(.focus),
#map:has(.pin.focus) .pin:not(.focus).highlight {
  opacity: 0.5;
}