#map-container {
  overflow: hidden;
}

#map .group.hidden {
  display: none;
}

#map .group {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#map .pin {
  pointer-events: all;
}

#map:has(.group.focus) .group:not(.focus):not(.highlight) {
  display: none;
}

#map:has(.group.highlight) .group:not(.highlight):not(.focus),
#map:has(.group.focus) .group:not(.focus).highlight {
  opacity: 0.5;
}